@if (ViewBag.CurrentSortBy == ViewBag.ColumnName && ViewBag.CurrentSortOrder == SortOrderOptions.ASC.ToString())
{
    <th>
        <a asp-controller="Persons" asp-action="Index"
           asp-route-searchBy="@ViewBag.CurrentSearchBy"
           asp-route-searchString="@ViewBag.CurrentSearchString"
           asp-route-sortBy="@ViewBag.ColumnName"
           asp-route-sortOrderOptions="DESC">
           @ViewBag.DisplayName
        </a>
        <i class="fa-solid fa-sort-up"></i>
    </th>
}
else if (ViewBag.CurrentSortBy == ViewBag.ColumnName && ViewBag.CurrentSortOrder == SortOrderOptions.DESC.ToString())
{
    <th>
        <a asp-controller="Persons" asp-action="Index"
           asp-route-searchBy="@ViewBag.CurrentSearchBy"
           asp-route-searchString="@ViewBag.CurrentSearchString"
           asp-route-sortBy="@ViewBag.ColumnName"
           asp-route-sortOrderOptions="ASC">
           @ViewBag.DisplayName
        </a>
        <i class="fa-solid fa-sort-down"></i>
    </th>
}
else
{
    <th>
        <a asp-controller="Persons" asp-action="Index"
           asp-route-searchBy="@ViewBag.CurrentSearchBy"
           asp-route-searchString="@ViewBag.CurrentSearchString"
           asp-route-sortBy="@ViewBag.ColumnName"
           asp-route-sortOrderOptions="ASC">
           @ViewBag.DisplayName
        </a>
    </th>
}